In [1]:
import pandas as pd

In [4]:
headway_data=pd.read_csv('../data/Headway Data.csv')

In [5]:
headway_data

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981710,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.016666
1981711,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,7.633333,-2.366667,1,0,0,0,0.0,0,2,9.900000
1981712,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,NaN,NaN,1,0,0,0,NaN,0,3,0.000000
1981713,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,0.0,0,2,19.366666
1981714,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,3,1.683333

In [7]:
bna_2022=pd.read_csv('../data/bna_2022.csv')

In [8]:
bna_2022

,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,icon_extd,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,KBNA,observation,1641027180,KBNA,Nashville,1641019980,N,71,26,2600,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KBNA,observation,1641030780,KBNA,Nashville,1641023580,N,72,26,2600,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KBNA,observation,1641034380,KBNA,Nashville,1641027180,N,73,26,2600,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KBNA,observation,1641037980,KBNA,Nashville,1641030780,N,73,26,2600,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KBNA,observation,1641041580,KBNA,Nashville,1641034380,N,73,26,2600,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7775,KBNA,observation,1646106780,KBNA,Nashville,1646099580,N,47,27,2700,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7776,KBNA,observation,1646110380,KBNA,Nashville,1646103180,N,46,29,2900,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7777,KBNA,observation,1646113980,KBNA,Nashville,1646106780,N,44,33,3300,...,FEW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7778,KBNA,observation,1646117580,KBNA,Nashville,1646110380,N,40,27,2700,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7779,KBNA,observation,1646121180,KBNA,Nashville,1646113980,N,40,27,2700,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
bna_weather=pd.read_csv('../data/bna_weather.csv')

In [10]:
bna_weather

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9734,2022-10-31 19:53:00,KBNA,observation,1667271180,KBNA,Nashville,1667263980,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9735,2022-10-31 20:53:00,KBNA,observation,1667274780,KBNA,Nashville,1667267580,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9736,2022-10-31 21:53:00,KBNA,observation,1667278380,KBNA,Nashville,1667271180,N,58,27,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9737,2022-10-31 22:53:00,KBNA,observation,1667281980,KBNA,Nashville,1667274780,N,60,27,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9738,2022-10-31 23:53:00,KBNA,observation,1667285580,KBNA,Nashville,1667278380,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
bna_2022.shape

(7780, 45)

In [13]:
bna_weather.shape

(9739, 46)

In [16]:
import matplotlib.pyplot as plt

In [17]:
headway_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 30 columns):
 #   Column                     Dtype
---  ------                     -----
 0   CALENDAR_ID                int64
 1   SERVICE_ABBR               int64
 2   ADHERENCE_ID               int64
 3   DATE                       object
 4   ROUTE_ABBR                 int64
 5   BLOCK_ABBR                 int64
 6   OPERATOR                   int64
 7   TRIP_ID                    int64
 8   OVERLOAD_ID                int64
 9   ROUTE_DIRECTION_NAME       object
 10  TIME_POINT_ABBR            object
 11  ROUTE_STOP_SEQUENCE        float64
 12  TRIP_EDGE                  int64
 13  LATITUDE                   float64
 14  LONGITUDE                  float64
 15  SCHEDULED_TIME             object
 16  ACTUAL_ARRIVAL_TIME        object
 17  ACTUAL_DEPARTURE_TIME      object
 18  ADHERENCE                  float64
 19  SCHEDULED_HDWY             float64
 20  ACTUAL_HDWY                float64
 21  HDWY_DEV                   float64
 22  ADJUSTED_EARLY_COUNT       int64
 23  ADJUSTED_LATE_COUNT        int64
 24  ADJUSTED_ONTIME_COUNT      int64
 25  STOP_CANCELLED             int64
 26  PREV_SCHED_STOP_CANCELLED  float64
 27  IS_RELIEF                  int64
 28  BLOCK_STOP_ORDER           int64
 29  DWELL_IN_MINS              float64
dtypes: float64(9), int64(15), object(6)
memory usage: 453.6+ MB

In [18]:
bna_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9739 entries, 0 to 9738
Data columns (total 46 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       9739 non-null   object
 1   key                        9739 non-null   object
 2   class                      9739 non-null   object
 3   expire_time_gmt            9739 non-null   int64
 4   obs_id                     9739 non-null   object
 5   obs_name                   9739 non-null   object
 6   valid_time_gmt             9739 non-null   int64
 7   day_ind                    9739 non-null   object
 8   temp                       9739 non-null   int64
 9   wx_icon                    9739 non-null   int64
 10  icon_extd                  9739 non-null   int64
 11  wx_phrase                  9739 non-null   object
 12  pressure_tend              2885 non-null   float64
 13  pressure_desc              2885 non-null   object
 14  dewPt                      9739 non-null   int64
 15  heat_index                 9739 non-null   int64
 16  rh                         9739 non-null   int64
 17  pressure                   9739 non-null   float64
 18  vis                        9735 non-null   float64
 19  wc                         9731 non-null   float64
 20  wdir                       8217 non-null   float64
 21  wdir_cardinal              9731 non-null   object
 22  gust                       1460 non-null   float64
 23  wspd                       9731 non-null   float64
 24  max_temp                   361 non-null    float64
 25  min_temp                   361 non-null    float64
 26  precip_total               103 non-null    float64
 27  precip_hrly                9739 non-null   float64
 28  snow_hrly                  9 non-null      float64
 29  uv_desc                    9725 non-null   object
 30  feels_like                 9738 non-null   float64
 31  uv_index                   9725 non-null   float64
 32  qualifier                  0 non-null      float64
 33  qualifier_svrty            0 non-null      float64
 34  blunt_phrase               0 non-null      float64
 35  terse_phrase               0 non-null      float64
 36  clds                       9739 non-null   object
 37  water_temp                 0 non-null      float64
 38  primary_wave_period        0 non-null      float64
 39  primary_wave_height        0 non-null      float64
 40  primary_swell_period       0 non-null      float64
 41  primary_swell_height       0 non-null      float64
 42  primary_swell_direction    0 non-null      float64
 43  secondary_swell_period     0 non-null      float64
 44  secondary_swell_height     0 non-null      float64
 45  secondary_swell_direction  0 non-null      float64
dtypes: float64(27), int64(8), object(11)
memory usage: 3.4+ MB

In [19]:
headway_data.isna().sum()

CALENDAR_ID                       0
SERVICE_ABBR                      0
ADHERENCE_ID                      0
DATE                              0
ROUTE_ABBR                        0
BLOCK_ABBR                        0
OPERATOR                          0
TRIP_ID                           0
OVERLOAD_ID                       0
ROUTE_DIRECTION_NAME              0
TIME_POINT_ABBR                   0
ROUTE_STOP_SEQUENCE              41
TRIP_EDGE                         0
LATITUDE                          0
LONGITUDE                         0
SCHEDULED_TIME                    0
ACTUAL_ARRIVAL_TIME           54383
ACTUAL_DEPARTURE_TIME         54430
ADHERENCE                     54430
SCHEDULED_HDWY               432294
ACTUAL_HDWY                  473824
HDWY_DEV                     474368
ADJUSTED_EARLY_COUNT              0
ADJUSTED_LATE_COUNT               0
ADJUSTED_ONTIME_COUNT             0
STOP_CANCELLED                    0
PREV_SCHED_STOP_CANCELLED    402647
IS_RELIEF                         0
BLOCK_STOP_ORDER                  0
DWELL_IN_MINS                 54456
dtype: int64

In [22]:
bna_weather['wx_icon'].value_counts()

33    1923
28    1565
26    1558
34    1242
30     961
27     827
29     559
11     418
4      162
12     129
20     123
14      68
40      47
38      41
47      26
7       20
42      19
9       17
21      14
16      13
22       4
18       3
Name: wx_icon, dtype: int64

In [23]:
headway_data['ROUTE_ABBR'].value_counts()

55    362259
56    355098
52    291150
23    250787
50    249880
3     216446
22    153074
7     103021
Name: ROUTE_ABBR, dtype: int64

In [25]:
headway_data['OPERATOR'].value_counts()

1147    15479
1587    15352
664     15268
409     14889
1020    14495
        ...
2091        1
2219        1
242         1
315         1
2310        1
Name: OPERATOR, Length: 458, dtype: int64

In [27]:
bna_weather.columns

Index(['Date', 'key', 'class', 'expire_time_gmt', 'obs_id', 'obs_name',
       'valid_time_gmt', 'day_ind', 'temp', 'wx_icon', 'icon_extd',
       'wx_phrase', 'pressure_tend', 'pressure_desc', 'dewPt', 'heat_index',
       'rh', 'pressure', 'vis', 'wc', 'wdir', 'wdir_cardinal', 'gust', 'wspd',
       'max_temp', 'min_temp', 'precip_total', 'precip_hrly', 'snow_hrly',
       'uv_desc', 'feels_like', 'uv_index', 'qualifier', 'qualifier_svrty',
       'blunt_phrase', 'terse_phrase', 'clds', 'water_temp',
       'primary_wave_period', 'primary_wave_height', 'primary_swell_period',
       'primary_swell_height', 'primary_swell_direction',
       'secondary_swell_period', 'secondary_swell_height',
       'secondary_swell_direction'],
      dtype='object')

In [28]:
print(bna_weather)

                     Date   key        class  expire_time_gmt obs_id  \
0     2021-11-01 00:53:00  KBNA  observation       1635753180   KBNA
1     2021-11-01 01:30:00  KBNA  observation       1635755400   KBNA
2     2021-11-01 01:53:00  KBNA  observation       1635756780   KBNA
3     2021-11-01 02:53:00  KBNA  observation       1635760380   KBNA
4     2021-11-01 03:53:00  KBNA  observation       1635763980   KBNA
...                   ...   ...          ...              ...    ...
9734  2022-10-31 19:53:00  KBNA  observation       1667271180   KBNA
9735  2022-10-31 20:53:00  KBNA  observation       1667274780   KBNA
9736  2022-10-31 21:53:00  KBNA  observation       1667278380   KBNA
9737  2022-10-31 22:53:00  KBNA  observation       1667281980   KBNA
9738  2022-10-31 23:53:00  KBNA  observation       1667285580   KBNA

       obs_name  valid_time_gmt day_ind  temp  wx_icon  ...  clds water_temp  \
0     Nashville      1635745980       N    51       26  ...   OVC        NaN
1     Nashville      1635748200       N    50       29  ...   SCT        NaN
2     Nashville      1635749580       N    49       33  ...   CLR        NaN
3     Nashville      1635753180       N    48       33  ...   CLR        NaN
4     Nashville      1635756780       N    47       33  ...   CLR        NaN
...         ...             ...     ...   ...      ...  ...   ...        ...
9734  Nashville      1667263980       N    60       26  ...   OVC        NaN
9735  Nashville      1667267580       N    60       26  ...   OVC        NaN
9736  Nashville      1667271180       N    58       27  ...   BKN        NaN
9737  Nashville      1667274780       N    60       27  ...   BKN        NaN
9738  Nashville      1667278380       N    60       26  ...   OVC        NaN

      primary_wave_period primary_wave_height  primary_swell_period  \
0                     NaN                 NaN                   NaN
1                     NaN                 NaN                   NaN
2                     NaN                 NaN                   NaN
3                     NaN                 NaN                   NaN
4                     NaN                 NaN                   NaN
...                   ...                 ...                   ...
9734                  NaN                 NaN                   NaN
9735                  NaN                 NaN                   NaN
9736                  NaN                 NaN                   NaN
9737                  NaN                 NaN                   NaN
9738                  NaN                 NaN                   NaN

      primary_swell_height  primary_swell_direction  secondary_swell_period  \
0                      NaN                      NaN                     NaN
1                      NaN                      NaN                     NaN
2                      NaN                      NaN                     NaN
3                      NaN                      NaN                     NaN
4                      NaN                      NaN                     NaN
...                    ...                      ...                     ...
9734                   NaN                      NaN                     NaN
9735                   NaN                      NaN                     NaN
9736                   NaN                      NaN                     NaN
9737                   NaN                      NaN                     NaN
9738                   NaN                      NaN                     NaN

      secondary_swell_height  secondary_swell_direction
0                        NaN                        NaN
1                        NaN                        NaN
2                        NaN                        NaN
3                        NaN                        NaN
4                        NaN                        NaN
...                      ...                        ...
9734                     NaN                        NaN
9735                     NaN                        NaN
9736                     NaN                        NaN
9737                     NaN                        NaN
9738                     NaN                        NaN

[9739 rows x 46 columns]

In [30]:
a = headway_data.loc[(headway_data['CALENDAR_ID'] == 120211101) & (headway_data['ROUTE_ABBR'] == 7)]
a

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
1647,120211101,1,76450453,2021-11-01,7,4101,2312,299431,0,TO DOWNTOWN,...,22.233333,7.233333,0,1,0,0,0.0,0,2,9.483333
1648,120211101,1,76450454,2021-11-01,7,4101,2312,299431,0,TO DOWNTOWN,...,23.200000,8.200000,0,1,0,0,0.0,0,11,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5903,120211101,1,76455665,2021-11-01,7,706,2186,301352,0,TO DOWNTOWN,...,21.466666,3.466666,0,0,1,0,0.0,0,60,0.000000
5904,120211101,1,76455666,2021-11-01,7,706,2186,301352,0,TO DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,72,0.000000
5905,120211101,1,76455667,2021-11-01,7,706,2186,301350,0,FROM DOWNTOWN,...,13.550000,-1.450000,0,0,1,0,0.0,0,73,7.700000
5906,120211101,1,76455668,2021-11-01,7,706,2186,301350,0,FROM DOWNTOWN,...,19.450000,5.450000,0,0,1,0,0.0,0,85,0.000000
5907,120211101,1,76455669,2021-11-01,7,706,2186,301350,0,FROM DOWNTOWN,...,NaN,NaN,0,0,1,0,NaN,0,99,0.000000

In [31]:
bna_weather.isna().sum()

Date                            0
key                             0
class                           0
expire_time_gmt                 0
obs_id                          0
obs_name                        0
valid_time_gmt                  0
day_ind                         0
temp                            0
wx_icon                         0
icon_extd                       0
wx_phrase                       0
pressure_tend                6854
pressure_desc                6854
dewPt                           0
heat_index                      0
rh                              0
pressure                        0
vis                             4
wc                              8
wdir                         1522
wdir_cardinal                   8
gust                         8279
wspd                            8
max_temp                     9378
min_temp                     9378
precip_total                 9636
precip_hrly                     0
snow_hrly                    9730
uv_desc                        14
feels_like                      1
uv_index                       14
qualifier                    9739
qualifier_svrty              9739
blunt_phrase                 9739
terse_phrase                 9739
clds                            0
water_temp                   9739
primary_wave_period          9739
primary_wave_height          9739
primary_swell_period         9739
primary_swell_height         9739
primary_swell_direction      9739
secondary_swell_period       9739
secondary_swell_height       9739
secondary_swell_direction    9739
dtype: int64

In [32]:
bna_weather=bna_weather.drop(columns=['qualifier','qualifier_svrty','blunt_phrase','terse_phrase','water_temp','primary_wave_period','primary_wave_height','primary_swell_period','primary_swell_height','primary_swell_direction','secondary_swell_period','secondary_swell_height','secondary_swell_direction'])

In [33]:
bna_weather.isna().sum()

Date                  0
key                   0
class                 0
expire_time_gmt       0
obs_id                0
obs_name              0
valid_time_gmt        0
day_ind               0
temp                  0
wx_icon               0
icon_extd             0
wx_phrase             0
pressure_tend      6854
pressure_desc      6854
dewPt                 0
heat_index            0
rh                    0
pressure              0
vis                   4
wc                    8
wdir               1522
wdir_cardinal         8
gust               8279
wspd                  8
max_temp           9378
min_temp           9378
precip_total       9636
precip_hrly           0
snow_hrly          9730
uv_desc              14
feels_like            1
uv_index             14
clds                  0
dtype: int64

In [34]:
bna_weather

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,wspd,max_temp,min_temp,precip_total,precip_hrly,snow_hrly,uv_desc,feels_like,uv_index,clds
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,9.0,68.0,51.0,NaN,0.00,NaN,Low,51.0,0.0,OVC
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,8.0,NaN,NaN,NaN,0.00,NaN,Low,50.0,0.0,SCT
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,6.0,NaN,NaN,NaN,0.00,NaN,Low,47.0,0.0,CLR
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,3.0,NaN,NaN,NaN,0.00,NaN,Low,48.0,0.0,CLR
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,0.0,NaN,NaN,NaN,0.00,NaN,Low,47.0,0.0,CLR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9734,2022-10-31 19:53:00,KBNA,observation,1667271180,KBNA,Nashville,1667263980,N,60,26,...,3.0,NaN,NaN,NaN,0.03,NaN,Low,60.0,0.0,OVC
9735,2022-10-31 20:53:00,KBNA,observation,1667274780,KBNA,Nashville,1667267580,N,60,26,...,0.0,NaN,NaN,NaN,0.00,NaN,Low,60.0,0.0,OVC
9736,2022-10-31 21:53:00,KBNA,observation,1667278380,KBNA,Nashville,1667271180,N,58,27,...,3.0,NaN,NaN,NaN,0.00,NaN,Low,58.0,0.0,BKN
9737,2022-10-31 22:53:00,KBNA,observation,1667281980,KBNA,Nashville,1667274780,N,60,27,...,5.0,NaN,NaN,NaN,0.00,NaN,Low,60.0,0.0,BKN
9738,2022-10-31 23:53:00,KBNA,observation,1667285580,KBNA,Nashville,1667278380,N,60,26,...,3.0,NaN,NaN,NaN,0.00,NaN,Low,60.0,0.0,OVC

In [35]:
bna_weather=bna_weather.drop(columns=['max_temp','min_temp','precip_total','snow_hrly'])

In [36]:
bna_weather

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,wc,wdir,wdir_cardinal,gust,wspd,precip_hrly,uv_desc,feels_like,uv_index,clds
0,2021-11-01 00:53:00,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,51.0,360.0,N,NaN,9.0,0.00,Low,51.0,0.0,OVC
1,2021-11-01 01:30:00,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,50.0,350.0,N,NaN,8.0,0.00,Low,50.0,0.0,SCT
2,2021-11-01 01:53:00,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,47.0,350.0,N,NaN,6.0,0.00,Low,47.0,0.0,CLR
3,2021-11-01 02:53:00,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,48.0,360.0,N,NaN,3.0,0.00,Low,48.0,0.0,CLR
4,2021-11-01 03:53:00,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,47.0,NaN,CALM,NaN,0.0,0.00,Low,47.0,0.0,CLR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9734,2022-10-31 19:53:00,KBNA,observation,1667271180,KBNA,Nashville,1667263980,N,60,26,...,60.0,200.0,SSW,NaN,3.0,0.03,Low,60.0,0.0,OVC
9735,2022-10-31 20:53:00,KBNA,observation,1667274780,KBNA,Nashville,1667267580,N,60,26,...,60.0,NaN,CALM,NaN,0.0,0.00,Low,60.0,0.0,OVC
9736,2022-10-31 21:53:00,KBNA,observation,1667278380,KBNA,Nashville,1667271180,N,58,27,...,58.0,200.0,SSW,NaN,3.0,0.00,Low,58.0,0.0,BKN
9737,2022-10-31 22:53:00,KBNA,observation,1667281980,KBNA,Nashville,1667274780,N,60,27,...,60.0,210.0,SSW,NaN,5.0,0.00,Low,60.0,0.0,BKN
9738,2022-10-31 23:53:00,KBNA,observation,1667285580,KBNA,Nashville,1667278380,N,60,26,...,60.0,220.0,SW,NaN,3.0,0.00,Low,60.0,0.0,OVC